[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
firebase-admin = "*"
mplfinance = "*"
yfinance = "*"
matplotlib = "*"
nbconvert = "*"
nbdime = "*"

[dev-packages]

[requires]
python_version = "3.13"
